<div class="rounded-lg relative rounded shadow bg-sky-100">
  <app-pokemon-item-button
    [pokemonName]="pokemon"
    [isTrainer]="true"
  ></app-pokemon-item-button>
  <p class="font-bold text-center">{{ pokemon }}</p>
  <img [src]="getPicUrl" />
</div>
