<li *ngIf="pokemon" class="rounded-lg rounded relative shadow bg-sky-50">
  <app-pokemon-item-button
    class="rounded-lg"
    [pokemon]="pokemon"
  ></app-pokemon-item-button>
  <p class="text-center">{{ pokemon.name }}</p>

  <section class="p-4 block flex justify-center">
    <img [src]="getPicUrl" [alt]="pokemon.name" />
  </section>
  <app-show-more [pokemon]="pokemon"></app-show-more>
</li>
