<div class="text-center pb-2">
  <button
    (click)="getMoreInfo(pokemon)"
    class="p-1 bg-slate-700 hover:bg-slate-600 rounded"
  >
    {{ rerender ? "Show less" : "show more" }}
  </button>

  <div *ngIf="rerender === true">
    <p class="font-bold text-black">Abilities</p>
    <div *ngFor="let data of pokemonData.abilities">
      <p>
        {{ data.ability.name }}
      </p>
    </div>
    <p class="font-bold text-black">Stats</p>
    <div *ngFor="let data of pokemonData.stats">
      <p>
        <span>{{ data.stat.name }}:</span> {{ data.base_stat }}
      </p>
    </div>
  </div>
</div>
