<nav class="h-14 items-center grid grid-cols-2 bg-slate-500">
  <div>
    <p class="text-3xl text-red-300 ml-4">Welcome</p>
  </div>
  <ng-container *ngIf="trainer !== undefined">
    <div class="flex justify-end gap-4 mr-6">
      <a class="text-red-300 hover:underline" routerLink="/trainer">Trainer</a>
      <a class="text-red-300 hover:underline" routerLink="/pokemon-catalogue"
        >Pokemon</a
      >
      <app-logout-button></app-logout-button>
    </div>
  </ng-container>
</nav>
