<section class="container mt-5">
  <h1 class="text-center text-3xl mb-4">Welcome</h1>
  <div class="flex justify-center">
    <app-login-form (auth)="redirectAfterAuth()"></app-login-form>
  </div>
</section>
