<div *ngIf="isCaught; then caught; else notCaught"></div>
<ng-template #notCaught>
  <button
    (click)="onCatchClick()"
    [ngClass]="{ 'animate-spin': loading === true }"
    class="material-icons absolute right-0 text-slate-700 hover:text-red-500"
  >
    catching_pokemon
  </button>
</ng-template>

<ng-template #caught>
  <button
    [ngClass]="{ 'animate-spin': loading === true }"
    class="material-icons absolute right-0 text-red-500"
    [disabled]="isPokemonCatalogue"
    (click)="onCaughtClick()"
  >
    catching_pokemon
  </button>
</ng-template>
