<section class="container mx-auto mt-5">
  <h1 class="text-center text-3xl mb-4 text-red-300">Pokemon Catalogue</h1>
  <div class="">
    <app-pokemon-list [pokemons]="pokemons"></app-pokemon-list>
  </div>
</section>
